global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    timeout connect 10s
    timeout client  100s
    timeout server  100s

# MQTT TCP (1883)
frontend mqtt_front
    bind *:1883
    default_backend mqtt_back

backend mqtt_back
    balance roundrobin
    server emqx1 emqx1:1883 check
    server emqx2 emqx2:1883 check
    server emqx3 emqx3:1883 check

# MQTT WebSockets (8083)
frontend mqtt_ws_front
    bind *:8083
    default_backend mqtt_ws_back

backend mqtt_ws_back
    balance roundrobin
    server emqx1 emqx1:8083 check
    server emqx2 emqx2:8083 check
    server emqx3 emqx3:8083 check

# Dashboard (18083)
frontend dashboard_front
    mode http
    bind *:18083
    default_backend dashboard_back

backend dashboard_back
    mode http
    balance roundrobin
    server emqx1 emqx1:18083 check
    server emqx2 emqx2:18083 check
    server emqx3 emqx3:18083 check
